{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dressing - Your Clothes</title>
    <style>
        .card {
            height: 100%;
        }
        .card-img-top {
            object-fit: cover;
        }
    </style>
    
</head>
<body>
    {% include 'menu.html' %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-body">
                        <form method="get" action="{% url 'list_of_clothes' %}">
                            <div class="row">
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="query" placeholder="Search by article type..." value="{{ request.GET.query }}" >
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-primary" type="submit" id="search-button">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <form method="post" action="{% url 'delete_multiple_clothes' %}">
            <div class="row justify-content-center">
                <div class="col-md-9">
                    <div class="card text-white bg-dark mb-3">
                        <div class="card-header text-center">
                            <h4>Your Clothes</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        <div class="delete-selection mb-4 text-center">
                            <button type="submit" class="btn btn-danger">Delete Selected</button>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-md-4 g-4">
                        {% for image in clothes %}
                        <div class="col">
                            <div class="card h-100">
                                <a href="{% url 'edit_image_product' image.id %}">
                                    <img src="{{ image.path }}" class="card-img-top img-fluid" alt="{{ image.article }}">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title text-center">{{ image.article }}</h5>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="selected_clothes" value="{{ image.id }}" id="check{{ image.id }}">
                                            <label class="form-check-label" for="check{{ image.id }}">Delete</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% empty %}
                        <p>No images available.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>        
    </div>
</body>
</html>