{% load static %}
<html lang="en" data-bs-theme="dark">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap_pulse.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const themeButtons = document.querySelectorAll('[data-theme]');
        const htmlElement = document.documentElement; // Refere-se ao <html>
    
        // Função para alterar o tema
        const setTheme = (theme) => {
          htmlElement.setAttribute('data-bs-theme', theme);
          localStorage.setItem('preferredTheme', theme);
        };
    
        // Carregar o tema salvo no localStorage
        const savedTheme = localStorage.getItem('preferredTheme') || 'light'; // Padrão: 'light'
        setTheme(savedTheme);
    
        // Adicionar eventos de clique nos botões
        themeButtons.forEach((button) => {
          button.addEventListener('click', () => {
            const selectedTheme = button.getAttribute('data-theme');
            setTheme(selectedTheme);
          });
        });
      });
    </script>
</head>

<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Dressing</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          {% if client_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Your Dressing</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'upload_photos' %}">Add Clothes</a>
              <a class="dropdown-item" href="{% url 'list_of_clothes' %}">See Your Clothes</a>
              <!--a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a-->
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'upload_faceid' %}">Your FaceID</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout_view' %}">Logout</a>
          </li>
          {% endif %}
          {% if not client_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'create_user' %}">Create Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login_view' %}">Login</a>
          </li>
          {% endif %}
          <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
            <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
            <hr class="d-lg-none my-2 text-white-50">
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="theme-menu" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle theme">
              <i class="bi bi-circle-half"></i>
              <span class="d-lg-none ms-2">Toggle theme</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-theme="light">
                  <i class="bi bi-sun-fill"></i><span class="ms-2">Light</span>
                </button>
              </li>
              <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-theme="dark">
                  <i class="bi bi-moon-stars-fill"></i><span class="ms-2">Dark</span>
                </button>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>